body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(97, 131, 170);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    margin: 0%;
    padding: 0%;
    background-color:darkslateblue !important;
}

nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
.nav-link {
    color: white !important;
    
    height: auto;
    text-decoration: none;
    transform: translateX(500px);
}
.navbar-toggler {
    transform: translateX(500px);
}

.two-color-text {
    background-image: linear-gradient(to right, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}